channels.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
File: channels.xsd
Created by: Viktor Zetterstöm (vize1500)
Course: DT074G, Mittuniversitetet

This the xml-schema used for validating channels.xml, which is generated by the
transformation channels.xsd.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      Represents a TV-guide, each channel a list of programmes as well as a name and logo.
    </xsd:documentation>
  </xsd:annotation>

  <!-- TV-guide consists of one tv-guide element-->
  <xsd:element name="tv-guide" type="tv-guide-type" />

  <!-- tv-guide-type contains title, name of creator, and channels -->
  <xsd:complexType name="tv-guide-type">
    <xsd:sequence>
      <xsd:element name="tv-guide-title" type="xsd:string" />
      <xsd:element name="tv-guide-creator" type="xsd:string" />
      <xsd:element name="channel" type="channel-type" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- channel-type contains name, path to logo and programmes -->
  <xsd:complexType name="channel-type">
    <xsd:sequence>
      <xsd:element name="channel-name" type="xsd:string" />
      <xsd:element name="logo-path" type="xsd:string" />
      <xsd:element name="programme" type="programme-type" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- programme-type -->
  <xsd:complexType name="programme-type">
    <xsd:sequence>
      <!-- title element -->
      <xsd:element name="title" type="title-type" />

      <!-- desc element, not required -->
      <xsd:element name="desc" type="desc-type" minOccurs="0" />

      <!-- date element, not required -->
      <xsd:element name="date" type="xsd:string" minOccurs="0" />

      <!-- category element, not required -->
      <xsd:element name="category" type="category-type" minOccurs="0" maxOccurs="unbounded">

      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="start" type="xsd:string" />
  </xsd:complexType>

  <!-- Title type, xsd:string extended with lang attribute -->
  <xsd:complexType name="title-type">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="lang" type="xsd:language" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- Description type, xsd:string extended with lang attribute -->
  <xsd:complexType name="desc-type">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="lang" type="xsd:language" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- Category type, xsd:string extended with lang attribute -->
  <xsd:complexType name="category-type">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="lang" type="xsd:language" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>